@model Cell_line_laboratory.Models.EnzymeModel

<h2>Create Enzymes</h2>

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">@TempData["SuccessMessage"]</div>
}

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">@TempData["ErrorMessage"]</div>
}

<form asp-action="Create" method="post">
    <div class="form-group">
        <label>Enzyme Code</label>
        <input asp-for="PlasmidCode" class="form-control" />
        <span asp-validation-for="PlasmidCode" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label>Name</label>
        <input asp-for="AntibodyName" class="form-control" />
        <span asp-validation-for="AntibodyName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="CatalogueNo"></label>
        <input asp-for="CatalogueNo" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Maker"></label>
        <input asp-for="Maker" class="form-control" />
        <span asp-validation-for="Maker" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Location"></label>
        <input asp-for="Location" class="form-control" />
        <span asp-validation-for="Location" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Data"></label>
        <input asp-for="Data" class="form-control" />
        <span asp-validation-for="Data" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Note"></label>
        <textarea asp-for="Note" class="form-control"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
</form>
