@model Cell_line_laboratory.Entities.User

@{
    ViewData["Title"] = "Profile";
}
<h4 class="link-icon icofont-ui-lock">Privacy</h4>
<main>
    <section>
        <h6>Notification Preferences</h6>

            <div class="form-group">
                <label for="emailNotifications">Email Notifications</label>
                <input type="checkbox" id="emailNotifications" name="emailNotifications" checked>
            </div>
    </section>
    <section>
        <h6>Data Sharing</h6>
        <p>We take your privacy seriously. Here are your options for data sharing:</p>

            <div class="form-group">
                <label for="shareAnalytics">Share Usage Analytics</label>
                <input type="checkbox" id="shareAnalytics" name="shareAnalytics" checked>
            </div>
    </section>
</main>
<hr>
<h4>Edit Account</h4>
<div class="page-content">
   
        <div class="col col-12 col-xl-8">
        <form asp-action="Edit" class="mb-4">
               @* <label>Photo</label>
                <div class="form-group avatar-box d-flex align-items-center"><img src="/assets/img/profile1.png" width="60" height="60" alt="" class="rounded-500 me-4"> 
                    <button class="btn btn-outline-primary" type="button">Change photo<span class="btn-icon icofont-ui-user ms-2"></span></button>
                </div>*@
                <div class="form-group"><label>Full name</label> 
                    <input asp-for="Name" class="form-control" type="text" >
                </div>
                <div class="form-group">
                    <label>Email</label>
                    <input asp-for="Email" class="form-control" type="email">
                </div>

                <div class="row">
                    <div class="col-12 col-sm-6">
                        <div class="form-group"><label>Role</label> 
                            <input asp-for="Role" class="form-control" type="text" >
                        </div>
                    </div>
                    <div class="col-12 col-sm-6">
                        <div class="form-group">
                            <div class="form-group">
                                <label>UserType</label>
                                <input asp-for="UserType" class="form-control" type="text" >
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group"><label>Date Created</label> <input asp-for="CreatedAt" class="form-control" type="datetime" readonly></div>

                <div class="form-group"><label>Last visit</label> <input asp-for="LastUpdatedAt" class="form-control" type="text" readonly="readonly"></div>
                <div class="form-group"><label>Status</label> <input asp-for="Status" class="form-control" type="text" readonly></div>
                 @if (User.IsInRole("SuperUser"))
    {
                <div class="row">
                    <div class="col"><button type="submit" class="btn btn-success">Save changes</button></div>
                    <div class="col text-end"><a asp-asp-controller="User" asp-action="Delete" asp-route-id="Model.Id" class="btn btn-outline-danger"><span class="d-none d-sm-block">Delete account</span> <span class="d-sm-none">Delete</span></a></div>
                </div>
    }
            </form>
            <hr>
            <h4>Change password</h4>
        <form method="post" asp-action="ChangePassword">
            @if (TempData["SuccessMessage"] != null)
            {
                <div class="alert alert-success">@TempData["SuccessMessage"]</div>
            }

            @if (TempData["ErrorMessage"] != null)
            {
                <div class="alert alert-danger">@TempData["ErrorMessage"]</div>
            }
            <div class="row">
                <div class="col-12 col-sm-6">
                    <div class="form-group">
                        <label for="currentPassword">Current password</label>
                        <input id="currentPassword" name="CurrentPassword" class="form-control" type="password" placeholder="Current password" required>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-sm-6">
                    <div class="form-group">
                        <label for="newPassword">New password</label>
                        <input id="newPassword" name="NewPassword" class="form-control" type="password" placeholder="New password" required>
                    </div>
                </div>
                <div class="col-12 col-sm-6">
                    <div class="form-group">
                        <label for="confirmNewPassword">Confirm new password</label>
                        <input id="confirmNewPassword" name="ConfirmNewPassword" class="form-control" type="password" placeholder="Confirm new password" required>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-outline-dark">Change password</button>
        </form>

        </div>
   
</div>


