@model ForgotPasswordModel
@{
    ViewData["Title"] = "ForgotPassword";
    Layout = null;
}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>MedicApp - Medical & Hospital HTML5/Bootstrap admin template</title>
    <meta name="keywords" content="MedicApp">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <!-- Favicon -->
    <link rel="shortcut icon" href="/assets/img/favicon.ico">
    <!-- Plugins CSS -->
    <link rel="stylesheet" href="/assets/css/bootstrap/bootstrap.css">
    <link rel="stylesheet" href="/assets/css/icofont.min.css">
    <link rel="stylesheet" href="/assets/css/simple-line-icons.css">
    <link rel="stylesheet" href="/assets/css/jquery.typeahead.css">
    <link rel="stylesheet" href="/assets/css/datatables.min.css">
    <link rel="stylesheet" href="/assets/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="/assets/css/Chart.min.css">
    <link rel="stylesheet" href="/assets/css/morris.css">
    <link rel="stylesheet" href="/assets/css/leaflet.css">
    <!-- Theme CSS -->
    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body class="public-layout">
    <div class="app-loader main-loader">
        <div class="loader-box">
            <div class="bounceball"></div>
            <div class="text">Medic<span>app</span></div>
        </div>
    </div>
    <!-- .main-loader -->
    <div class="page-box">
        <div class="app-container page-sign-in">
            <div class="content-box">
                <div class="content-header">
                    <div class="app-logo">
                        <div class="logo-wrap"><img src="/cellline/assets/img/cellline_logo-removebg-preview 1.png" alt="" width="147" height="33" ></div>
                    </div>
                </div>
                <div class="content-body">
                    <div class="w-100">
                        <h2 class="h4 mt-0 mb-1">Can't Remember Password?</h2>
                        <p class="text-muted">It is not an issue, it happens to most of us.</p>
                        <form method="post" asp-action="ForgotPassword">


                            @if (Model.Status == ForgotPasswordModel.ForgotPasswordStatus.Success)
                            {
                                <div class="alert alert-success outline" role="alert">
                                    An email has been sent to your email address with instructions on how to reset your password.
                                </div>
                            }
                            else if (Model.Status == ForgotPasswordModel.ForgotPasswordStatus.Error)
                            {
                                <div class="alert alert-danger outline" role="alert">
                                    @if (!string.IsNullOrEmpty(Model.ErrorMessage))
                                    {
                                        <div>@Model.ErrorMessage</div>
                                    }
                                </div>
                            }
                            <div class="form-group">
                                <input class="form-control" type="email" name="Input.Email" value="@Model.Input?.Email" placeholder="Email address">
                            </div>


                            <div class="actions justify-content-between">
                                <button class="btn btn-primary" type="submit">
                                    <span class="btn-icon icofont-lock me-2"></span>Reset Password
                                </button>
                            </div>

                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </form>
                        <p class="mt-5 mb-1">Go Back <a asp-controller="Home" asp-action="SignIn">Sign In</a></p>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/assets/js/jquery-3.6.0.min.js"></script>
    <script src="/assets/js/jquery-migrate-1.4.1.min.js"></script>
    <script src="/assets/js/popper.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/jquery.typeahead.min.js"></script>
    <script src="/assets/js/datatables.min.js"></script>
    <script src="/assets/js/bootstrap-select.min.js"></script>
    <script src="/assets/js/jquery.barrating.min.js"></script>
    <script src="/assets/js/Chart.min.js"></script>
    <script src="/assets/js/raphael-min.js"></script>
    <script src="/assets/js/morris.min.js"></script>
    <script src="/assets/js/echarts.min.js"></script>
    <script src="/assets/js/echarts-gl.min.js"></script>
    <script src="/assets/js/main.js"></script>
</body>
</html>
