@model Cell_line_laboratory.Entities.Chemical

@{
    ViewData["Title"] = "Edit / Update Chemicals";
}

<h2>@ViewData["Title"]</h2>

@if (TempData.ContainsKey("SuccessMessage"))
{
    <div class="alert alert-success">
        @TempData["SuccessMessage"]
    </div>
}

@if (TempData.ContainsKey("ErrorMessage"))
{
    <div class="alert alert-danger">
        @TempData["ErrorMessage"]
    </div>
}

<!-- Your form goes here -->


<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="Id" />
    <input type="hidden" asp-for="Date" />
    <input type="hidden" asp-for="UserId" />
    <input type="hidden" asp-for="User" />
    <input type="hidden" asp-for="Status" />
    <input type="hidden" asp-for="IsMarkedForDeletion" />

    <div class="form-group">
        <label>Chemical Code</label>
        <input asp-for="PlasmidCode" class="form-control" />
        <span asp-validation-for="PlasmidCode" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label>Name</label>
        <input asp-for="AntibodyName" class="form-control" />
        <span asp-validation-for="AntibodyName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label>CatalogueNo</label>
        <input asp-for="CatalogueNo" class="form-control" />
        <span asp-validation-for="CatalogueNo" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Maker"></label>
        <input asp-for="Maker" class="form-control" />
        <span asp-validation-for="Maker" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Location"></label>
        <input asp-for="Location" class="form-control" />
        <span asp-validation-for="Location" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Data"></label>
        <input asp-for="Data" class="form-control" />
        <span asp-validation-for="Data" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Note"></label>
        <input asp-for="Note" class="form-control" />
        <span asp-validation-for="Note" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Save</button>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</form>
